<h1>Add a new order to @Model.Name</h1>

<form action="/vendor/@Model.Id/order" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
  <label for="orderDescription">Order description:</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <button type='submit'>Add order</button>
</form>