<h1>Add a new order to @Model.Name</h1>

<form action="/vendor/@Model.Id/order" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
  
  <label for="orderDescription">Order description:</label>
  <input id="orderDescription" name="orderDescription" type="text">
  
  <label for="orderBread">Total Loaves of Bread:</label>
  <input id="orderBread" name="orderBread" type="text">
  
  <label for="orderPastry">Total Number of Pastries:</label>
  <input id="orderPastry" name="orderPastry" type="text">
  
  <label for="orderPrice">Total Price Charged:</label>
  <input id="orderPrice" name="orderPrice" type="text">
  <button type='submit'>Add order</button>
</form>