<h1>Welcome Pierre!</h1>
<h2>Here is your current list of Vendors and Orders:</h2>
<h3><a href='/vendor'>View Vendors</a></h3>
<h2>Here you can add a new Vendor:</h2>
<h3><a href='/vendor/new'>Add a new Vendor</a></h3>